<!DOCTYPE html>
<html lang = "eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale">
    <title>Document</title>
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <div id ="invoice"></div>
         <h1>Code with Nigel</h1>
         <p>Nigel says hello</p>
    </div>
    <button onclick="generatePDF()">Download</button>

</body>
</html>