<link rel="stylesheet" type="text/css" href="public/css/choosemoviesandsongs.css" media="screen"/>
<body>
<div class="ChooseMovie">
    <div class="MovieName">
        <h5>Movie Title</h5>
        <h6>Movie Rating<br>Movie Durating</h6>

        <div class="submit">
            <input value="Update" class="btn" id="query" type="submit">
        </div>
        
        <div class="blackblock1"></div>

        <div class="submit">
            <input value="Delete" class="btn" id="query" type="submit">
        </div>
        <hr>
    </div>
</div>
    <div class="submit">
        <input value="Create Movies" class="btn" id="query" type="submit">
    </div>
    <div class="blackblock1"></div>

    <div class="submit">
        <input value="Create Songs" class="btn" id="query" type="submit">
    </div>
</body>