<style>

body {
  background-color: black;
}

div.blackblock {
  background-color: black;
  width: 800px;
  height: 358px;
}

.btn#query {
  background-color: black;
  color: gold;
  border: 1px solid white;
}

.btn#query:hover {
  background-color: grey;
  color: white;
}
</style>

<h1 class="display-4">Create Songs</h1>

<form method="POST" action="" name="" enctype="multipart/form-data">
  
  <div class="form-group">
  <h5>Song Image</h5>
  <input type="file" name="song_image" value="{{song_image}}" required>
  </div>

  <div class="form-group">
  <h5>Song Name</h5>
  <input type="song_name" name="song_name" class="form-control" value="{{song_name}}" required>
  </div>

  <div class="form-group">
  <h5>Song Age Rating</h5>
  <input type="songagerating" name="songagerating" class="form-control" value="{{songagerating}}" required>
  </div>

  <div class="form-group">
  <h5>Song Duration</h5>
  <input type="songduration" name="songduration" class="form-control" value="{{songduration}}" required>
  </div>

  <div class="form-group">
    <h5>Song Genres</h5>
		<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="chineseLang" value="Chinese"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="chinese">Pop</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="englishLang" value="English"
								   checked
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="englishLang">Rock</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="malayLang" value="Malay"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="malaylang">Metal</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="tamilLang" value="Tamil"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="tamilLang">Country</label>
						</div>
            						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="tamilLang" value="Tamil"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="tamilLang">Rap</label>
						</div>
            						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="tamilLang" value="Tamil"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="tamilLang">Electronic</label>
						</div>
            						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="tamilLang" value="Tamil"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="tamilLang">Jazz</label>
						</div>
            						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="tamilLang" value="Tamil"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="tamilLang">Folk</label>
						</div>
  </div>
  </div>

  <div class="submit">
    <input class="btn" id="query" type="submit">
  </div>

</form>