<style>

body {
  background-color: black;
}

div.blackblock {
  background-color: black;
  width: 800px;
  height: 358px;
}

.btn#query {
  background-color: black;
  color: gold;
  border: 1px solid white;
}

.btn#query:hover {
  background-color: grey;
  color: white;
}
</style>

<h1 class="display-4">Create Movies</h1>

<form method="POST" action="" name="" enctype="multipart/form-data">
  
  <div class="form-group">
  <h5>Movie Image</h5>
  <input type="file" name="song_image" value="{{movie_image}}" required>
  </div>

  <div class="form-group">
  <h5>Movie Name</h5>
  <input type="movie_name" name="movie_name" class="form-control" value="{{movie_name}}" required>
  </div>

  <div class="form-group">
  <h5>Movie Age Rating</h5>
  <input type="movieagerating" name="movieagerating" class="form-control" value="{{movieagerating}}" required>
  </div>

  <div class="form-group">
  <h5>Movie Duration</h5>
  <input type="movieduration" name="movieduration" class="form-control" value="{{movieduration}}" required>
  </div>

  <div class="form-group">
    <h5>Movie Genres</h5>
		<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="chineseLang" value="Chinese"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="chinese">Horror</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="englishLang" value="English"
								   checked
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="englishLang">Comedy</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="malayLang" value="Malay"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="malaylang">Science</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="tamilLang" value="Tamil"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="tamilLang">Romance</label>
						</div>
            						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="tamilLang" value="Tamil"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="tamilLang">Animation</label>
						</div>
            						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="tamilLang" value="Tamil"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="tamilLang">Adventure</label>
						</div>
            						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="tamilLang" value="Tamil"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="tamilLang">Emotional</label>
						</div>
            						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="tamilLang" value="Tamil"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="tamilLang">Mystery</label>
						</div>
            						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="language" id="tamilLang" value="Tamil"
								   onclick="ensureOneCheck('language', 'languageErr', 'butAddVideo')">
							<label class="form-check-label" for="tamilLang">Action</label>
						</div>
  </div>
  </div>

  <div class="submit">
    <input class="btn" id="query" type="submit">
  </div>

</form>