<link rel="stylesheet" type="text/css" href="public/css/edithomeimagepolicy.css" media="screen"/>

<body>
<h1 class="display-4">Edit Home Policy and Images</h1>

<form method="post" action="/edithomeimagepolicy" name="">
  <div class="form-group">
  <h5>Home Image</h5>
  <input type="file" name="homeimage" value="{{homeimage}}" accept="image/png,image/jpeg,image/jpg,image/gif">
  </div>

  <h5>Home Policy</h5>
  <div class="form-group">
    <input type="homepolicy" name="homepolicy" class="form-control" value="{{homepolicy}}" required>
  </div>

  <h5>Policy Image</h5>
  <div>
  <input type="file" name="policyimage" value="{{homepolicyimage}}" required>
  </div>
  
  <div class="blackblock1">
  </div>

  <div class="submit">
  <input class="btn" id="query" type="submit">
  </div>

  <div class="blackblock2">
  </div>

</form>
</body>