<style>
 body{
  background:#333333;
  color:rgb(255, 251, 0);
}
</style>
<body>
<form method="POST" action="/update_location">
    <h3> Enter the 5 Different Locations</h3>
<label >Location 1:</label>
  <input type="text" id="location1" name='location1' ><br>
<label >Location 2:</label>
  <input type="text" id="location2" name="location2"><br>
  <label >Location 3:</label>
  <input type="text" id="location3" name="location3"><br>
  <label >Location 4:</label>
  <input type="text" id="location4" name="location4"><br>
  <label >Location 5:</label>
  <input type="text" id="location5" name="location5"><br>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</body>